@page
@model HospiEnCasa.App.Presentacion.Pages.GetMedicosModel
@{
}
<!-- La segunda líneaIndica con quién está "emparejado" que es Index Model (la clase de Index.cshtml.cs)  -->


<h1>Lista de médicos </h1>
<form method="get">
<div class="form-group">
    <p>
    Medico:<input type="text" name= "GetFilters" asp-for="GetFilters" />
    <input type= "submit" value="Filter"/>
<table class="table table-bordered">
    <thead>
    <tr> <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Telefono</th>
        <th scope="col">Género</th>
        <th scope="col">Options</th>
        <span class= "material-icons">add</span></a></th>
    </tr>
    </thead>

    @foreach (var medico in Model.Medicos)
    {
        <tbody>
        <tr>
        <td>@medico.Nombre </td>
        <td>@medico.Apellidos </td>
        <td>@medico.NumeroTelefono </td>
        <td>@medico.Genero </td>
        <td>
            <a asp-page="./Details" asp-route-id="@medico.Id">
            <span class="material-icons">description</span></a>
            <a asp-page="./Edit"  asp-route-id="@medico.Id">
           <span class="material-icons">edit</span></a>
           <a asp-page="./Delete"  asp-route-id="@medico.Id">
           <span class="material-icons">delete</span></a>
        </td>
        </tr>
        </tbody>
    }

</table>
    
