@page
@model HospiEnCasa.App.Presentacion.Pages_Pacientes.DetailsModel
@{
}
<h1>Details</h1>
<div class="form-group">
    <h4>Paciente</h4>
    <dl class="row">
            <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Paciente.Nombre</dd>

            <dt class="col-sm-2">Apellidos</dt>
        <dd class="col-sm-10">@Model.Paciente.Apellidos</dd>

            <dt class="col-sm-2">Numero de teléfono</dt>
        <dd class="col-sm-10">@Model.Paciente.NumeroTelefono</dd>

            <dt class="col-sm-2">Genero</dt>
        <dd class="col-sm-10">@Model.Paciente.Genero</dd>

            <dt class="col-sm-2">Direccion</dt>
        <dd class="col-sm-10">@Model.Paciente.Direccion</dd>

            <dt class="col-sm-2">Latitud</dt>
        <dd class="col-sm-10">@Model.Paciente.Latitud</dd>

            <dt class="col-sm-2">Longitud</dt>
        <dd class="col-sm-10">@Model.Paciente.Longitud</dd>

            <dt class="col-sm-2">Ciudad</dt>
        <dd class="col-sm-10">@Model.Paciente.Ciudad</dd>

        <dt class="col-sm-2">Medico asignado</dt>
        <dd class="col-sm-10">@Model.Paciente.Medico.Nombre</dd>

    </dl>


</div>
<a asp-page="./Edit" asp-route-id="@Model.Paciente.Id">Edit</a>
<a asp-page="./Index">Back to List</a>

